<a href="https://colab.research.google.com/github/bobabap/RECORD-STORY/blob/main/N112_%EB%B3%B5%EC%8A%B5%2C%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

In [2]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 37 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (7,869 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 155229 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [211]:
import math

#data analytics
import numpy as np
import pandas as pd

#visualization
import matplotlib as mpl
import matplotlib.pylab as plb
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns

# ë¸Œë¼ìš°ì €ì—ì„œ ë°”ë¡œ ê·¸ë ¤ì§€ë„ë¡ 
%matplotlib inline

# ê·¸ë˜í”„ì— retina display ì ìš©
%config InlineBackend.figure_format = 'retina'

# Colab ì˜ í•œê¸€ í°íŠ¸ ì„¤ì •
plt.rc('font', family='NanumBarunGothic') 

# ìœ ë‹ˆì½”ë“œì—ì„œ  ìŒìˆ˜ ë¶€í˜¸ì„¤ì •
mpl.rc('axes', unicode_minus=False)

# ì „ì²´ë³´ê¸°
pd.set_option('display.max_seq_items', None)

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
 
 ## $\rm PDR = {ì‹œê°€ì´ì•¡ \over í•´ë‹¹~ê¸°ì—…ì´~í¬í•¨ëœ~ì „ì²´~ì‹œì¥~ê·œëª¨(TAM)~\times~ì‹œì¥ì ìœ ìœ¨}$

  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|





- **ê¸ˆì¼ ë¬¸ì œëŠ” ```pd.read_csv ì—ì„œ thousands = ',' ``` ê°’ì„ ì¸ìë¡œ ì£¼ì–´ í’€ë©´ ì•ˆë©ë‹ˆë‹¤.**

In [644]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
df = pd.read_csv(url)
df.transpose()
df.columns = headers

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
1  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
2   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
3   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[4 rows x 25 columns]

In [605]:
def column_cleaning(col):
    temp_list = []

    for i in col:
        temp = int(i.replace(',',''))
        temp_list.append(temp)    
    return temp_list

In [606]:
df["ë§¤ì¶œì•¡"] = column_cleaning(df["ë§¤ì¶œì•¡"])
df["ì˜ì—…ì´ìµ"] = column_cleaning(df["ì˜ì—…ì´ìµ"])

In [607]:
df["ì˜ì—…ì´ìµë¥ 2"] = round((df["ì˜ì—…ì´ìµ"]/df["ë§¤ì¶œì•¡"])*100, 2)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€) ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›) PER(ë°°) ì˜ì—…ì´ìµë¥ 2
0   19/9  13222  3825      3,825    4,503  ...  24.17  836.86   2,337  13.87  28.93
1  19/12  11982  2523      2,523    1,794  ...  23.04  850.82     873  12.42  21.06
2   20/3  11784  3150      3,150    4,156  ...  29.69  823.16   2,134   9.71  26.73
3   20/6  13188  3947      3,947    4,020  ...  26.91  837.40   2,135  10.46  29.93

[4 rows x 26 columns]

In [608]:
d2 = {'êµ¬ë¶„':['18ë…„','19ë…„'],
    'ì¢…ê°€':[101500,93800],
    'ë°œí–‰ì£¼ì‹ìˆ˜':[137292497,137292497],
    'ì‹œê°€ì´ì•¡':[13935188445500,12878036218600],
    'ì‹œì¥ì ìœ ìœ¨':[62.0,63.5],
    'ì‹œì¥ê·œëª¨':[15000000000000,15000000000000],
    'PDR':['','']}
df2 = pd.DataFrame(data = d2)
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨            ì‹œì¥ê·œëª¨ PDR
0  18ë…„  101500  137292497  13935188445500   62.0  15000000000000
1  19ë…„   93800  137292497  12878036218600   63.5  15000000000000

In [609]:
df2["PDR"] = df2['ì‹œê°€ì´ì•¡']/(df2['ì‹œì¥ê·œëª¨']*df2['ì‹œì¥ì ìœ ìœ¨'])
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨            ì‹œì¥ê·œëª¨       PDR
0  18ë…„  101500  137292497  13935188445500   62.0  15000000000000  0.014984
1  19ë…„   93800  137292497  12878036218600   63.5  15000000000000  0.013520

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [610]:
tmp = '12,578'

a,b = tmp.split(',')
revenue = int(a+b)
revenue

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [649]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']
df = pd.read_csv(url)
df.transpose()
df.columns = headers

def column_cleaning(col):
  temp_list = []

  for i in col:
    temp = int(i.replace(',',''))
    temp_list.append(temp)

  return temp_list

df = df.fillna(0)
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
1  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
2   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
3   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[4 rows x 25 columns]

In [650]:
changes = ['ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', "ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)", "ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ", "ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)", 
           "ìì‚°ì´ê³„", "ë¶€ì±„ì´ê³„", "ìë³¸ì´ê³„", "ìë³¸ì´ê³„(ì§€ë°°)", "ìë³¸ê¸ˆ", "ì˜ì—…í™œë™í˜„ê¸ˆíë¦„", "íˆ¬ìí™œë™í˜„ê¸ˆíë¦„", 
           "ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„", "EPS(ì›)"]

In [651]:
df[changes] = df[changes].apply(column_cleaning)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
0   19/9  13222  3825        3825  ...  24.17  836.86    2337   13.87
1  19/12  11982  2523        2523  ...  23.04  850.82     873   12.42
2   20/3  11784  3150        3150  ...  29.69  823.16    2134    9.71
3   20/6  13188  3947        3947  ...  26.91  837.40    2135   10.46

[4 rows x 25 columns]

In [652]:
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...       EPS(ì›)     PER(ë°°)
count      4.000000     4.000000  ...     4.000000   4.000000
mean   12544.000000  3361.250000  ...  1869.750000  11.615000
std      767.650962   659.660708  ...   671.321768   1.888218
min    11784.000000  2523.000000  ...   873.000000   9.710000
25%    11932.500000  2993.250000  ...  1818.750000  10.272500
50%    12585.000000  3487.500000  ...  2134.500000  11.440000
75%    13196.500000  3855.500000  ...  2185.500000  12.782500
max    13222.000000  3947.000000  ...  2337.000000  13.870000

[8 rows x 24 columns]

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [654]:
df.loc[1, 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = np.NaN
df = df.fillna(df.mean())
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
0   19/9  13222  3825        3825  ...  24.17  836.86    2337   13.87
1  19/12  11982  2523        2523  ...  23.04  850.82     873   12.42
2   20/3  11784  3150        3150  ...  29.69  823.16    2134    9.71
3   20/6  13188  3947        3947  ...  26.91  837.40    2135   10.46

[4 rows x 25 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [655]:
df_val = list(df['ë§¤ì¶œì•¡'].values)
take_mean = int(df['ë§¤ì¶œì•¡'].mean())
def RP(vals):
  val_score = []
  for i in vals:
      if take_mean+(take_mean*0.1) < int(i): # 10% ì´ìƒ
          val_score += 'S'
      elif take_mean+(take_mean*0.05) <= int(i) < take_mean+(take_mean*0.1): # 5% ì´ìƒ
          val_score += "A"
      elif take_mean+(take_mean*0.05) > int(i) >= take_mean-(take_mean*0.05): # -5% ì´ìƒ, 5% ì´í•˜
          val_score += 'B'
      elif take_mean-(take_mean*0.05) > int(i) >= take_mean-(take_mean*0.1): # -5%ì´í•˜
          val_score += 'C'
      elif take_mean-(take_mean*0.1) >= int(i): # 10% ì´í•˜
          val_score += 'D'
  return val_score
score = RP(df_val)
score

['A', 'B', 'C', 'A']

In [656]:
df['Relative Perfomance'] = score
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  Relative Perfomance
0   19/9  13222  3825        3825  ...  836.86    2337   13.87                    A
1  19/12  11982  2523        2523  ...  850.82     873   12.42                    B
2   20/3  11784  3150        3150  ...  823.16    2134    9.71                    C
3   20/6  13188  3947        3947  ...  837.40    2135   10.46                    A

[4 rows x 26 columns]

In [675]:
a = list(df.loc[:, 'Relative Perfomance'])
b = list(df.loc[:, 'ë§¤ì¶œì•¡'])
Grade_of_sales = dict(zip(a, b))
Grade_of_sales

{'A': 13188, 'B': 11982, 'C': 11784}